/**/



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
nav#sidebar {
    z-index: 10;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

#sidebar {
	border-right: 1px solid #F1F1F1;
}
#sidebar .logo {
	margin: 10px 7px 0px auto;
	float: right;
}

#sidebar.active {
    margin-left: 0px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul {
	clear: both;
    text-align: right;
    text-transform: uppercase;
    padding: 25px 15px;
    list-style: none;
}

#sidebar ul li {
	line-height: 20px;
}

#sidebar ul li a {
    display: block;
    font-size: 18px;
    font-family: 'Arial';
    color: #8d8d8d;
    font-weight: bold;
}

#sidebar ul li a:hover {
    color: gold;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;	
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


#sidebarCollapse {
    position: absolute;
    /*margin-left: 200px;*/
    z-index: 99;
    top: 2px;
    left: 190px;
    height: 50px;
    width: 12px;
    border: none;
    font-size: 9px;
    padding: 0px 2px;
    background: gold;
    border-top: 1px solid #eac708;
    border-right: 1px solid #eac708;
    border-bottom: 1px solid #eac708;
}
