#main-header {
	position: fixed;
	left:0;
	right:0;
	margin: 0px auto;
	color: #FFF;
	z-index: 20;
	border-radius: 0px;
	box-shadow: 0px 0px 7px -1px rgba(0,0,0, 1)
}

.navbar {
	min-height: 26px;
}

.navbar-brand {
	padding: 5px 0px 0px 0px;
	height: auto;
}

#main-header .menu-bg {
	background: #FFF;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -1;
}

#main-header .navbar-nav {
	max-width: 540px;
	float: none;
	margin: 0px auto;
}

#main-header .navbar-nav li a {
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 90%;
}
