<div id="press-container">
	
	<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Press &amp; Media Coverage</h3>
            </div>
        </div>
    </div>

	<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 *ngIf="selectedAlbum">{{selectedAlbum.name}}</h3>
                <ul class="press-list">
                    <li *ngFor="let photoModel of albumPhotos; let myIndex = index;">
                        <img class="img img-responsive" src="{{photoModel.source}}" (click)="openDialog(photoModel, myIndex)" />
                    </li> 
                </ul>
            </div>
        </div>
	</div>


     <dialog-component>
        <h3>{{selectedPhoto.name}}</h3>
        <pre style="border: none; text-align: center;">
            <img style="border: none; text-align: center; background-color: none;" src="{{selectedPhoto.source}}"/>            
        </pre>
    </dialog-component>



</div>


