@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

html, body {
	height: 100%;
	min-height: 100%;
}

#main-content {
	margin-left: 190px;
	transition: all 0.3s;
	position: relative;
}

#main-content .container {
	width: 100%;
}

#main-content .header {
	background: #FFF;
	padding: 5px 15px;
	text-align: center;
	border-bottom: 1px solid #f1f1f1;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0, 0.3);
}	

#main-content .vimonisha-logo {
	letter-spacing: 10px;
	font-size: 19px;
	color: gold;
}


main-header {
	display: inline-block;
	float: left;
}

#sidebar {
    min-width: 190px;
    max-width: 190px;
    transition: all 0.3s;
    float: left;
    min-height: 100%;
    position: fixed;
   	height: 100%;
}

#sidebar #sidebarCollapse {
    display: none;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}


.exb-table {	
	padding: 0px;
	width: 100%;
	margin: 5px auto;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
	background: rgba(255, 255, 255, 0.1);
}

.exb-table tr th {
	font-size: 17px;
	padding: 5px;
	background: rgba(255, 255, 255, 0.8);
	color: #CC0000;
}

.exb-table tr th .exb-name {
	padding: 4px 0px;
}

.exb-table tr th,
.exb-table tr td {
	border: 1px solid #FFF
}

.exb-table tr td.exb-place {
	width: 35%;
	text-align: center;
	padding: 0px 0px 5px 0px;
}

.exb-table tr td.exb-place .exb-place-name {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	font-family: Arial;
	margin: 0px auto;
	letter-spacing: 1px;
}

.exb-table tr td.exb-place img {
	width: 50px;
	margin: 10px auto;
}

.exb-table tr td.exb-dates {
	font-size: 20px;
	text-align: center;
	color: #FFF;
}

.exb-table tr.exb-links td {
	padding: 2px 10px;
	font-size: 12px;
	font-weight: bold;
}


/* ---------------------------------------------------
    MEDIAQUERIES START
----------------------------------------------------- */
@media (max-width: 768px) {

	#main-content {
		margin-left: 0px;
	}


	#main-content {
		margin-left: 0px;
	}
    
    #sidebar {
        margin-left: -250px;
    }

    #sidebar #sidebarCollapse {
        margin-left: 60px;
        display: block;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebar.active #sidebarCollapse {
       margin-left: 0px;
    }


	/*#sidebarCollapse {
		display: block;
	}
    #sidebarCollapse span {
        display: none;
    }

    #sidebar .navbar-btn {
	    display: block;
	}
	*/
	.exb-table tr td.exb-dates {
		font-size: 13px;
	}

}

/* ---------------------------------------------------
    MEDIAQUERIES END
----------------------------------------------------- */



.photo-container {
	vertical-align: top;
}

.photo-container li {
	position: relative;
	vertical-align: top;
	width: 19%;
	height: 300px;
	overflow: hidden;
	border: 1px solid #CCC;
}

.photo-container li img {
	height: 100%;
}

.photo-container li h4 {
	font-size: 11px;
}

.photo-container li .name {
	font-size: 10px;
}

.photo-container li .btn-container {
	margin: 10px 0px;
}

ul.album-container {
	vertical-align: top;
}

ul.album-container li {
	vertical-align: top;
	width: 25%;
	border: 1px solid #CCC;
	
}


/*------------- HEADER ---------------------*/

h2 {
	color: #e70564;
	background: #FFF;
	font-size: 18px;
	position: relative;
	padding: 8px 0px 8px 10px;
	border: 1px solid #eaeaea;
	/*border-radius: 10px 0px 17px 0px;*/
}

h3 {
	border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding-bottom: 8px;
    font-weight: bold;
    color: #CC0000;
    font-size: 16px;
}


h2::after {
	content: '';
	position:absolute;
	width: 100%;
	height: 20px;
	display: block;
	clear: both;
	background: url('../images/header-bottom-bg.png') no-repeat left bottom;
	bottom: -21px;
	left: 0px;
}


/* --------------- BUTTONs-------------------------*/

.date-cover {
	border-radius: 2px;
	/*border: 1px solid #CCC;*/
	display: inline-block;
	padding: 6px 0px;
	color: #FFF;
	font-size: 14px;
	/*margin-bottom: 5px;*/
	min-width: 120px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,f7f7f7+47,f7f7f7+47,f0eeee+49,f7f7f7+100 */
	/*background: #f7f7f7; 
	background: -moz-linear-gradient(top, #f7f7f7 0%, #f7f7f7 47%, #f7f7f7 47%, #f0eeee 49%, #f7f7f7 100%); 
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#f7f7f7 47%,#f7f7f7 47%,#f0eeee 49%,#f7f7f7 100%);  
	background: linear-gradient(to bottom, #f7f7f7 0%,#f7f7f7 47%,#f7f7f7 47%,#f0eeee 49%,#f7f7f7 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f7f7f7',GradientType=0 ); 
	*/
}

.date-cover.date-from {
	border-bottom: 1px solid #CCC;
}

.event-btn {
	border-radius: 2px;
	border: 1px solid #CCC;
	display: inline-block;
	padding: 6px 0px;
	color: #d31616;
	font-size: 12px;
	font-weight: bold;
	margin: 5px auto;
	min-width: 120px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,f7f7f7+47,f7f7f7+47,f0eeee+49,f7f7f7+100 */
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #f7f7f7 47%, #f7f7f7 47%, #f0eeee 49%, #f7f7f7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#f7f7f7 47%,#f7f7f7 47%,#f0eeee 49%,#f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f7f7f7 0%,#f7f7f7 47%,#f7f7f7 47%,#f0eeee 49%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}


.image-header {
	height: 100px;
	overflow: hidden;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #CCC;
}


.btn-click {
	padding: 3px 20px;
    border: 1px solid #00344e;
    color: #184257;
    font-size: 16px;
    border-radius: 19px;
    font-weight: bold;
    min-width: 120px;
}


/*-----------FLEX-----*/


.flex-row {
	display: flex;
	align-items: center;
}

.flex-row  .flex-column {
	flex: 1;
}



/*-----FOOTER------------*/

footer-component {
	display: block;
	/*position: fixed;
	width: 100%;
	bottom: 0;*/
}

#footer-container h3 {
	color: #FFF;
}