<div id="gallery-container">
	
	<div class="container">		
		<h1>Exhibition Gallery</h1>		
	</div>

	<div class="container">		
		Total: {{albumCollection.length}}
        <ul class="list-inline album-container">
            <li *ngFor="let albumModel of albumCollection.albums;" >
                <!-- href="admin/photos/{{albumModel.id}}" -->
                <!-- <album-component [albumModel]="albumModel"></album-component> -->
                <a [routerLink]="['/gallery']" [queryParams]="{ albumId: albumModel.id }" >
                    <album-component [albumModel]="albumModel"></album-component>
                </a>
            </li>
        </ul>
        albumPhotos = {{albumPhotos.length}}	
	</div>


    <slider direction="UP">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 *ngIf="selectedAlbum">{{selectedAlbum.name}}</h3>
                    <ul class="list-inline album-container">
                        <li *ngFor="let photoModel of albumPhotos; let myIndex = index;">
                            <img class="img img-responsive" src="{{photoModel.source}}" (click)="openDialog(photoModel, myIndex)" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
    </slider>

     <dialog-component>
        <div>
            <img style="width: 100%; height: 100%" src="{{selectedPhoto.source}}"/>
            <div>{{selectedPhoto.name}}</div>
        </div>
    </dialog-component>

   <!--  <dialog-component>
        <carousel-component id="gallery-photo-component" uid="gallery-photo-component">

                    <carousel-item *ngFor="let photoModel of albumPhotos; let myIndex = index;" active="{{myIndex === photoIndexId}}" >

                        <div class="photo-model-container text-center" >
                            <img class="img img-responsive" src="{{photoModel.source}}"/>
                        </div>

                    </carousel-item>

            </carousel-component>
    </dialog-component> -->


</div>


