
#gallery-container {
	margin: 20px 0px 50px 0px;
}

#gallery-container dialog-component .modal-dialog.open .modal-container .model-content {
	background: red !important;
}

ul.album-main-container,
ul.album-container {
    text-align: center;
    margin: 0px
    padding: 0px;
}

ul.album-main-container li {
	width: 15%;
    margin: 5px;
    padding: 0px;
    vertical-align: top;
    cursor: pointer;
    height: 200px;
    border: 1px solid #f1dfae;
    overflow: hidden;
}

ul.album-container li {
	width: 15%;
    height: 118px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}



ul.album-container li {
    background: rgba(255,250,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,250,255,1) 0%, rgba(209,209,209,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,250,255,1)), color-stop(100%, rgba(209,209,209,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,250,255,1) 0%, rgba(209,209,209,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,250,255,1) 0%, rgba(209,209,209,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,250,255,1) 0%, rgba(209,209,209,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,250,255,1) 0%, rgba(209,209,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffaff', endColorstr='#d1d1d1', GradientType=1 );
}

ul.album-container li:nth-child(2n+3) {
    background: rgba(217,213,217,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(217,213,217,1) 0%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(217,213,217,1)), color-stop(99%, rgba(246,246,246,1)), color-stop(100%, rgba(246,246,246,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(217,213,217,1) 0%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(217,213,217,1) 0%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(217,213,217,1) 0%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
    background: radial-gradient(ellipse at center, rgba(217,213,217,1) 0%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d5d9', endColorstr='#f6f6f6', GradientType=1 );
}


ul.album-container li img {
    vertical-align: middle;
}

.modal-dialog.open  .modal-content {
	background: red !important;	
}

h4.gallery-name {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFF;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid #CC0000;
}


@media screen and (max-width: 768px) {
    
    ul.album-main-container li {
        width: 45%;
        margin: 5px;
        padding: 0px;
        height: 200px;
        border: 1px solid #CCC;
        vertical-align: top;
        cursor: pointer;
    }

    ul.album-container li {
        width: 50%;
        height: 200px;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        vertical-align: middle;
        cursor: pointer;
    }

}