<div id="gallery-container">
	
	<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Exhibition Gallery</h3>
            </div>
        </div>

    	<div class="row">
            <div class="col-sm-12">
                <ul class="list-inline album-main-container">
                    <li *ngFor="let albumModel of albumCollection.albums;" >
                        <a [routerLink]="['/gallery']" [queryParams]="{ albumId: albumModel.id }">
                            <album-component [albumModel]="albumModel"></album-component>
                        </a>
                    </li>
                </ul>
            </div>	
    	</div>

    </div>

    <slider direction="UP">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="gallery-name" *ngIf="selectedAlbum">{{selectedAlbum.name}}</h4>
                    <ul class="list-inline album-container">
                        <li *ngFor="let photoModel of albumPhotos; let myIndex = index;" style="border: none;">
                            <img class="img img-responsive" src="{{imageHostPath}}//{{photoModel.source}}" (click)="openDialog(photoModel, myIndex)" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
    </slider>

     <dialog-component>
        <pre class="text-center">
            <img src="{{imageHostPath}}//{{selectedPhoto.source}}" />
            <div>{{selectedPhoto.name}}</div>
        </pre>
    </dialog-component>



</div>


