<div id="gallery-container">
	
	<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Exhibition Gallery</h3>
            </div>
        </div>

    	<div class="row">
            <div class="col-sm-12">
                <ul class="list-inline album-main-container">
                    <li *ngFor="let albumModel of albumCollection.albums;" >
                        <a [routerLink]="['/gallery']" [queryParams]="{ albumId: albumModel.id }">
                            <album-component [albumModel]="albumModel"></album-component>
                        </a>
                    </li>
                </ul>
            </div>	
    	</div>

    </div>

    <slider direction="UP">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 *ngIf="selectedAlbum">{{selectedAlbum.name}}</h4>
                    <ul class="list-inline album-container">
                        <li *ngFor="let photoModel of albumPhotos; let myIndex = index;">
                            <img class="img img-responsive" src="{{photoModel.source}}" (click)="openDialog(photoModel, myIndex)" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
    </slider>

     <dialog-component>
        <div class="text-center">
            <img src="{{selectedPhoto.source}}"/>
            <div>{{selectedPhoto.name}}</div>
        </div>
    </dialog-component>

   <!--  <dialog-component>
        <carousel-component id="gallery-photo-component" uid="gallery-photo-component">

                    <carousel-item *ngFor="let photoModel of albumPhotos; let myIndex = index;" active="{{myIndex === photoIndexId}}" >

                        <div class="photo-model-container text-center" >
                            <img class="img img-responsive" src="{{photoModel.source}}"/>
                        </div>

                    </carousel-item>

            </carousel-component>
    </dialog-component> -->


</div>


