#exhibition-container {
	overflow: auto;
	background: url('public/images/page-bg-gold.jpg');
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: center;
	background-size: 100%;
}

#exhibition-container  h1 {
	margin: 5px 0px 10px 0px;
	font-size: 1.5em;
    font-weight: bold;
}

h3 {
	color: #FFF;
}

#exhibition-container .exhibition {
	margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d6d6d6
}

.exhibition-list {
	margin: 0px;
	padding: 10px 0px;
}


.exhibition-list h2 {
	color: #b5ad15;
	margin: 0px;
}

.exhibition-list .exhibition {
	padding-bottom: 10px;
	border-bottom: 1px solid #6ea7c4;
}

.exhibition-list .dates-container {
	margin: 10px 0px 0px 30px;
	color: #FFF;
}

.exhibition-list .dates-container .date {
	padding: 0px 10px;
	display: inline-block;
	border-radius: 3px;
	background: #FFF;
	color: #000;
	padding: 4px 10px;
    margin: 0px 10px;
    font-size: 12px;
    text-align: center;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

.exhibition-pic {
	/*margin-left: 13px;*/
	box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.5);
}

ul.exb-images {
	margin: 0px auto;
	text-align: center;
	width: 100%;
}

ul.exb-images li {
	text-align: center;
	width: 20%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	height: 100px;
	cursor: pointer;
}

ul.exb-images li {
    background: rgba(255,250,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,250,255,1) 0%, rgba(209,209,209,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,250,255,1)), color-stop(100%, rgba(209,209,209,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,250,255,1) 0%, rgba(209,209,209,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,250,255,1) 0%, rgba(209,209,209,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,250,255,1) 0%, rgba(209,209,209,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,250,255,1) 0%, rgba(209,209,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffaff', endColorstr='#d1d1d1', GradientType=1 );
}

ul.exb-images li:nth-child(2n+3) {
    background: rgba(217,213,217,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(217,213,217,1) 0%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(217,213,217,1)), color-stop(99%, rgba(246,246,246,1)), color-stop(100%, rgba(246,246,246,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(217,213,217,1) 0%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(217,213,217,1) 0%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(217,213,217,1) 0%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
    background: radial-gradient(ellipse at center, rgba(217,213,217,1) 0%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d5d9', endColorstr='#f6f6f6', GradientType=1 );
}


.lead-description {
	max-height: 100px;
	overflow: hidden;
	position: relative;
	padding-right: 5px
}

.lead-description::after {
	content: '...';
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 5px;
}


@media (max-width: 768px) {

	#exhibition-container  h1 {
		margin-top: 15px;
	}

}

