<div id="album-container" class="{{loaderClass}}">
	<div>
		<h4>{{albumName}}</h4>
    	<div class="name">{{photoCollection && photoCollection.photos ? photoCollection.photos.length : 0 }}</div>
	</div>
</div>

 <!-- <slider direction="UP" id="album-photos">
 	<div *ngIf="photoCollection">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-left">
					<h2>Vimonisha Exhibitions Gallery > {{albumName}}</h2>
				</div>
				<div class="col-sm-12">
					<ul class="list-inline photo-container">
			            <li *ngFor="let photoModel of photoCollection.photos; let myIndex = index;">
			            	<img src="{{photoModel.source}}" (click)="showPhoto(myIndex)">
			            </li>
			        </ul>
				</div>
			</div>
		</div>

		<dialog-component>
			<carousel-component id="album-photo-component" uid="album-photo-component">

					<carousel-item 
						*ngFor="let photoModel of photoCollection.photos; let myIndex = index;" 
						(onItemInit)="onItemLoaded()" active="false">

						<div class="text-center">
							<img class="img img-responsive" src="{{photoModel.source}}"/>
						</div>

					</carousel-item>

			</carousel-component>
		</dialog-component>
	</div>

</slider>  -->


