<style>
ul.event-images li {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(155, 153, 153, 0.1);
    vertical-align: top;
    overflow: hidden;
}
ul.event-images li img {
    width: 100%;
}
</style>
<section class="container">
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
               <label class="col-sm-2 control-label">Access token</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="accessToken" [(ngModel)]="accessToken" name="accessToken">
                </div>
            </div>
            <div class="form-group">
               <label class="col-sm-1 control-label">From</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="fromDate" [(ngModel)]="fromDate" name="fromDate">
                </div>
                <label class="col-sm-1 control-label">To</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="toDate" [(ngModel)]="toDate" name="toDate">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-xs btn-success" value="Get Events from Facebook" (click)="onGetEventClick()">
                    <input type="button" class="btn btn-xs btn-warning" value="Add Events to DB" (click)="doSubmitEvents()">
                    <input type="button" class="btn btn-xs btn-warning" value="Get Events from DB" (click)="doGetEventsFromTable()">
                </div>
            </div>
        </form>
    </div>


    <div class="row">
        <div class="bg-info alert alert-danger" role="alert">
            <h4 class="text-danger">{{graphService.message}}</h4>     
        </div>              
    </div>

    <div class="row">
        <h4 class="text-danger">Events from Facebook</h4>
    </div>
    <div class="row">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th class="col-sm-2">Start Time <br/> End Time</th>
                <th>Name</th>
                <th class="col-sm-2">URL : {{fbCollection.events.length}}</th>
                <th class="col-sm-2">Actions</th>
            </tr>
            </thead>
            <tbody *ngFor="let eventModel of fbCollection.events; index as i;">
                <tr>
                    <td>
                        {{eventModel.startTime}} 
                        <br/>
                        {{eventModel.endTime}}
                    </td>
                    <td>
                        <code>#{{eventModel.uid}}</code>
                        <br/>
                        {{eventModel.name}}
                    </td>
                    <td>
                        <img class="img img-responsive" src="{{eventModel.cover.source}}">
                    </td>
                    <td class="text-center">
                        <input type="button" class="btn btn-xs btn-warning" value="Add" (click)="addEventModel(eventModel)">
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="border-bottom:1px solid red; border-top: none;">
                        Status:<code>{{eventModel.status}}</code>
                        <br/>
                        Event Images: {{eventModel.photos.length}}
                        <br/> 
                        Last update on: <code>{{eventModel.photoStartTime}}</code> To Date:  <code>{{eventModel.photoEndTime}}</code>
                        <ul class="list-inline event-images">
                            <li *ngFor="let photo of eventModel.photos;" style="width:100px;">
                                <!-- <span>{{photo.source}}</span> -->
                                <img src="{{photo.source}}" class="img img-responsive">
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="row">
        <h4 class="text-danger">Events from Table</h4>
    </div>
    <div class="row">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th class="col-sm-2">Start Time <br/> End Time</th>
                <th>Name</th>
                <th class="col-sm-2">URL : {{eventsCollection.events.length}}</th>
                <th class="col-sm-2">Actions</th>
            </tr>
            </thead>
            <tbody *ngFor="let eventModel of eventsCollection.events; index as i;">
                    <tr>
                        <td>
                            {{eventModel.startTime}} 
                            <br/>
                            {{eventModel.endTime}}
                        </td>
                        <td>
                            <code>#{{eventModel.uid}}</code>
                            <br/>
                            {{eventModel.name}}
                        </td>
                        <td>
                            <img class="img img-responsive" src="{{eventModel.cover.source}}">
                        </td>
                        <td class="text-center">
                            <input type="button" class="btn btn-xs btn-warning" value="Add" (click)="addEventModel(eventModel)">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-bottom:1px solid red; border-top: none;">
                            Status:<code>{{eventModel.status}}</code>
                            <br/>
                            Event Images: {{eventModel.photos.length}}
                            <br/>
                            Last update on: <code>{{eventModel.photoStartTime}}</code> To Date:  <code>{{eventModel.photoEndTime}}</code>
                            <ul class="list-inline event-images">
                                <li *ngFor="let photo of eventModel.photos;" style="width:100px;">
                                    <!-- <span>{{photo.source}}</span> -->
                                    <img src="{{photo.source}}" class="img img-responsive">
                                </li>
                            </ul>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>

</section>
