.slider-container {
	position: fixed;
	display: block;
	z-index: 10;
	background: #FFF;
	padding: 0px;
	margin: 0px;
	width: auto;
}

.slider-container .slider-content {
	display: block;
	overflow-y: scroll;
	position: relative;
	height: 100%;
}

.slider-container .close-btn-container {
	position: fixed;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 10px;
}

.slider-container .close-btn {
	position: relative;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    background: #CCC;
    color: #CC0000;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.8);
    border: 1px solid #FFF;
}

@media (min-width: 768px) {
	.slider-container .close-btn-container { 
	    left: 190px;
	}
}