<div id="home-container">
	
	<div class="container">

		<div class="row" id="home">

			<div class="col-sm-6" id="main-left"  [ngStyle]="{ 'height': viewPortHeight }">
				<!-- <input type="button" name="showGallery" (click)="showGallery()" value="show Gallery()"> -->
				<carousel-component id="home-photo-component" uid="photo-component" activeIndex="0">

						<carousel-item *ngFor="let photoModel of photoCollection.photos; let myIndex = index;" 
						(onItemInit)="onItemLoaded()" active="{{myIndex === 0}}" >

							<div class="photo-model-container text-center" >
								<!-- <h2>{{photoModel.name}} </h2>
								<p>{{photoModel.description}} </p> -->
								<!-- <img class="img img-responsive" src="{{imageHostPath}}/{{photoModel.source}}" [ngStyle]="{ 'height': viewPortHeight }" /> -->
								<img class="img img-responsive" src="{{imageHostPath}}/{{photoModel.source}}"/>
							</div>

						</carousel-item>

				</carousel-component>
			</div>

			<div class="col-sm-6" id="main-right" [ngStyle]="{ 'height': viewPortHeight }">

				<div *ngFor="let eventModel of eventsCollection.events;" class="exhibition-list col-sm-12">
					<div class="row">
						<h2>{{eventModel.name}}</h2>
						<div class="row">
							<div class="col-xs-7">
								<img class="img img-responsive exhibition-pic" src="{{imageHostPath}}/{{eventModel.cover.source}}" />
							</div>
							<div class="col-xs-5 text-center">                
								<div class="date-cover date-from">{{getDate(eventModel.startTime)}}</div>
								<div class="date-cover date-to">{{getDate(eventModel.endTime)}}</div>
								<div *ngIf="isUpcomingEvent(eventModel.startTime)">
									<input type="button" class="btn btn-xs event-btn" value="Book Now" />
								</div>
								<a class="btn btn-xs btn-click" 
									[routerLink]="['/shows']" [queryParams]="{ id: eventModel.id }">Details
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

</div>
<about-component></about-component>

	

