<div id="home-container">
	
	<div class="container">
		<div class="row">
		<div class="col-sm-12 header">
			<div class="vimonisha-logo">VIMONISHA EXHIBITIONS</div>
		</div>
	</div>

		<div class="row" id="home">

			<div class="col-sm-5" id="main-left"  [ngStyle]="{ 'height1': viewPortHeight }">
				
				<div class="row">
					<div class="col-sm-12">
						<h3>Upcoming Exhibitions</h3>
					</div>
				</div>

				<div class="exb-wrapper" *ngFor="let eventModel of eventsCollection.events;">
					<table class="exb-table" *ngIf="isUpcomingEvent(eventModel.startTime)">
						<thead>
							<tr>
								<th colspan="2">
									<div class="exb-name">{{eventModel.name}}</div>
									<img class="img img-responsive" src="{{imageHostPath}}/{{eventModel.cover.source}}" />
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="2" class="exb-place">
									<img class="img img-responsive" src="../../../public/images/hyatt_regency_chennai_logo.png"
									alt="Hyatt Regency Chennai" />
									<div class="exb-place-name">
										HYATT REGENCY
										<br/>
										Chennai
									</div>
								</td>
								<td class="exb-dates">
									<div class="exb-dates-from">{{getDate(eventModel.startTime)}}</div>
								</td>
							</tr>
							<tr>
								<td class="exb-dates">
									<div class="exb-dates-to">{{getDate(eventModel.endTime)}}</div>
								</td>
							</tr>
							<tr class="exb-links">
								<td colspan="2" >
									<div class="row">
										<div class="col-xs-6">
												<a *ngIf="isUpcomingEvent(eventModel.startTime)" class="exb-btn"
												[routerLink]="['/register']" [queryParams]="{ id: eventModel.id }">Book Now
											</a>
										</div>
										<div class="col-xs-6 text-right">
												<a class="exb-btn" 
													[routerLink]="['/shows']" [queryParams]="{ id: eventModel.id }">Details
												</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

				<div class="row">
					<div class="col-sm-12">
						<h3>Past Exhibitions</h3>
					</div>
				</div>
				<div class="row">
					&nbsp;
				</div>

				<div class="row text-center">
					<a class="btn btn-xs btn-click" [routerLink]="['/shows']">View More Exhibitions</a>
				</div>

			</div>

			<div class="col-sm-7" id="main-right" [ngStyle]="{ 'height': viewPortHeight }">

				<carousel-component 
					id="home-photo-component"
					uid="photo-component" 
					navigation="false"
					activeIndex="1">

					<carousel-item *ngFor="let dataModel of dataModels; let myIndex = index;" 
						(onItemInit)="onItemLoaded()">
						<div *ngIf="dataModel.description !== ''" class="text-center post-desc">
							{{dataModel.description}}
						</div>
						<div class="photo-model-container text-center">
							<!-- <input type="text" id="post-model-{{myIndex}}" value="{{dataModel.fullPicture}}" /> -->
							
							<img *ngIf="dataModel.defaultSrc !== ''"
								class="img img-responsive"
								src="{{imageHostPath}}//{{dataModel.defaultSrc}}"/>
						</div>
					</carousel-item>

				</carousel-component>

								

			</div>

		</div>
		
	</div>

</div>
<about-component></about-component>


<!-- <div style="width: 800px; margin: 0px auto;">
			<carousel-component id="home-photo-component" uid="photo-component" activeIndex="0">

				<carousel-item>
					<div style="background: green; height: 50px;">
						ITEM 1
					</div>
				</carousel-item>

				<carousel-item >
					<div style="background: yellow; height: 60px;">
						ITEM 2
					</div>
				</carousel-item>

				<carousel-item >
					<div style="background: orange; height: 70px;">
						ITEM 3
					</div>
				</carousel-item>

			</carousel-component>
		</div> -->




