section#main-left,
section#main-right {
	margin: 0px;
	height: 100%;
	padding: 51px 0px 0px 0px;
}

section#main-right {
	overflow-y: scroll;
}

.exhibitions-list {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
	
.exhibitions-list li {
	margin: 0px;
	padding: 10px;
}

.exhibitions-list li h1 {
	font-size: 18px;
	margin: 0px;
	padding: 5px 0px;
	display: block;
	border-bottom: 1px solid #CCC;
	color: #CC0000;
}

.exhibitions-list li .dates {
	font-size: 11px;
	padding: 5px 0px;
	color: blue;
}

.exhibitions-list li .dates span {
	font-size: 11px;
	font-weight: bold;
}

.exhibitions-list li img {
	width: 50%;
}


#home-photo-component {
	height: 100%;
	display: block;
}

#home-photo-component /deep/ #photo-component.carousel-container {
	/*overflow: hidden;*/
	min-height: 100%;
	height: 100%;
}

#home-photo-component /deep/ #photo-component.carousel-container .carousel {
	height: 100%;
}

#home-photo-component /deep/ #photo-component.carousel-container #navigation-photo-component {
	position: absolute;
	bottom: 0;
	left: 40%;
}

#home-photo-component /deep/ #photo-component.carousel-container .photo-model-container {
	position: relative;
}

#home-photo-component /deep/ #photo-component.carousel-container .carousel-item.show {
	height: 100%;
}

#home-photo-component /deep/ #photo-component.carousel-container .photo-model-container .photo-name,
#home-photo-component /deep/ #photo-component.carousel-container .photo-model-container .photo-desc {
	position: absolute;
}

.photo-model-container {
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.photo-model-container h2 {
	position: absolute;
	top: 50%;
	font-size: 18px;
	display: inline-block;
	background: white;
	left: 5%;
	right: 5%;
	line-height: 25px;

}

.photo-model-container p {
	position: absolute;
	top: 60%;
}

.photo-model-container img {
	margin: 0px auto;
	height: 100%;
}