#home-container {
	padding: 10px 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf392c+1,9d4188+100 */
	background: #bf392c; /* Old browsers */
	background: -moz-linear-gradient(left, #bf392c 1%, #9d4188 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #bf392c 1%,#9d4188 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #bf392c 1%,#9d4188 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf392c', endColorstr='#9d4188',GradientType=1 ); /* IE6-9 */
}

#home-container .container {
	height: 100%;
	overflow: hidden;
}

#home-container .container #home {	
	overflow: hidden;
	height: 100%;
}


#home #main-left,
#home #main-left #home-photo-component {
	height: 100%;
}

#home #main-right {
	overflow-y: scroll;
}

.exhibition-list {
	margin: 0px 0px 30px 0px;
}

.exhibition-list img.exhibition-pic {
	margin-left: 25px;
}

.exhibition-list h2 {
	margin-top: 0px;	
}

#home-photo-component /deep/ #photo-component.carousel-container {
	overflow: hidden;
	min-height: 100%;
	height: 100%;
}

#home-photo-component /deep/ #photo-component.carousel-container .carousel {
	height: 100%;
}

#home-photo-component /deep/ #photo-component.carousel-container #navigation-photo-component {
	position: absolute;
	bottom: 0;
	left: 40%;
}

#home-photo-component /deep/ #photo-component.carousel-container .photo-model-container {
	position: relative;
}

#home-photo-component /deep/ #photo-component.carousel-container .carousel-item.show {
	height: 100%;
}

#home-photo-component /deep/ #photo-component.carousel-container .photo-model-container .photo-name,
#home-photo-component /deep/ #photo-component.carousel-container .photo-model-container .photo-desc {
	position: absolute;
}

.photo-model-container {
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.photo-model-container h2 {
	position: absolute;
	top: 50%;
	font-size: 18px;
	display: inline-block;
	background: white;
	left: 5%;
	right: 5%;
	line-height: 25px;

}

.photo-model-container p {
	position: absolute;
	top: 60%;
}

.photo-model-container img {
	margin: 0px auto;
	height: 100%;
}

